<nav>
  <div>
    <a mat-flat-button class="nav-btn" routerLink="">Home</a>
    <a mat-flat-button class="nav-btn" routerLink="/browse">Browse</a>
    <button mat-flat-button [matMenuTriggerFor]="menu" class="nav-btn">Categories</button>
    <mat-menu #menu="matMenu" class="nav-btn">
      <a mat-menu-item>Shirts</a>
      <a mat-menu-item>Sports</a>
      <a mat-menu-item>Casual</a>
    </mat-menu>
  </div>
  <div>
    <button mat-icon-button (click)="toggleLoginPopover()">
      <mat-icon fontIcon="account_circle" />
    </button>
    <div #overlay [class.active]="loginPopoverActive" class="overlay" (click)="toggleLoginPopover()"
      (wheel)="$event.stopPropagation()">
      <app-login (click)="$event.stopPropagation()" class="login-popover" (action)="toggleLoginPopover()" />
    </div>
  </div>
</nav>
