nav {
  background-color: var(--mat-sys-primary);
  box-sizing: border-box;
  display: flex;
  margin-bottom: 2rem;
  padding: .1rem 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--mat-sys-level3);
}

nav * {
  color: var(--mat-sys-on-primary);
}

.nav-btn {
  padding: 1.5rem 1rem;
  border-radius: 0px;
}
