<nav>
  <div>
    <a mat-flat-button class="nav-btn" routerLink="">Home</a>
    <a mat-flat-button class="nav-btn" routerLink="/browse">Browse</a>
    <button mat-flat-button [matMenuTriggerFor]="menu" class="nav-btn">Categories</button>
    <mat-menu #menu="matMenu" class="nav-btn">
      <a mat-menu-item>Shirts</a>
      <a mat-menu-item>Sports</a>
      <a mat-menu-item>Casual</a>
    </mat-menu>
  </div>
  <div>
    <button mat-icon-button (click)="changeMode()">
      <mat-icon [fontIcon]="themeMode === 'dark' ? 'dark_mode' : 'light_mode'" />
    </button>
    <button mat-icon-button (click)="toggleLoginPopover()">
      <mat-icon fontIcon="account_circle" />
    </button>
    <div #overlay [class.active]="loginPopoverActive" class="overlay" (click)="toggleLoginPopover()"
      (wheel)="$event.stopPropagation()">
      @if (authService.getStatus() !== "authenticated"){
      <app-login (click)="$event.stopPropagation()" class="user-popover" (action)="toggleLoginPopover()" />
      } @else {
      <div (click)="$event.stopPropagation()" class="user-popover has-user">
        <span>
          {{authService.getUser()!.username}}
        </span>
        <mat-divider />
        <button mat-stroked-button (click)="authService.logout(); ">
          Logout
        </button>
      </div>
      }
    </div>
  </div>
</nav>
