:host {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

form button {
  width: fit-content;
  margin: auto;
}
