<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input required matInput type="email" email autocomplete="email" [(ngModel)]="loginInfo.email" name="email" />
    <mat-error>Please type a valid email address.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input required matInput minlength=6 type="password" autocomplete="current-password"
      [(ngModel)]="loginInfo.password" name="password" />
    <mat-error>Type your password</mat-error>
  </mat-form-field>
  <div appElementEvade [evade]="loginForm.status === 'INVALID'" style="; margin: auto;">
    <button [disabled]="!loginForm.form.valid" mat-flat-button type="submit">Login</button>
  </div>
  <button mat-stroked-button type="button" (click)="gotoSignup()">Sign
    up</button>
</form>
