a {
  --margin: 4rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--margin);
  z-index: 4;
  transition: transform .3s ease-out;
}

a.hidden {
  --corner-dis: calc(50% + var(--margin));
  transform: translate(var(--corner-dis), var(--corner-dis)) rotateZ(180deg) scale(0);
}

@media (max-width: 640px) {
  a {
    --margin: 2rem;
  }
}
