/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme-colors.scss' as theme;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour+Convergence&display=swap');

$light-theme: mat.define-light-theme((color: (primary: theme.$light-primary,
        accent: theme.$light-accent,
        warn: theme.$light-warn,
        tertiary: theme.$light-tertiary,
      ),
      typography: mat.define-typography-config(Josefin Sans),
    ));

@include mat.all-component-themes($light-theme);

html,
body {
  height: fit-content;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: .02);
}

body {
  margin: 0;
  font-family: Josefin Sans, Roboto, "Helvetica Neue", sans-serif;
}
